.header {
    justify-content: center;
    text-align: center;
    background: linear-gradient(90deg, #001aff, #4b037a);
    color: white;
}





.split {
    display: flex;
}

.left {
    width: 30%;
}

.rightContainer {
    width: 70%;
}
.right1 {

    border: solid black 2px;
    padding: 5px;
    margin: 10px;
}

.right2 {
    margin: 10px;
    display: flex;
    width: auto;
}
.card1 {
    display: flex;
    background-color: #171e61;
    margin: 5px;
    width: 500px;
    height: 150px;
    justify-content: left;
    align-items: center;
    color: white;
}

.localBTN {
    width: 250px;
    height: 40px;
    background-color: aqua;
}